
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    body{
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    }   
</style>
{{>nav}}
<body>
  <br><br><br><br>
<div class="container">
    {{>messages}}
    <div class="jumbotron mt-4">
        {{#if user.Sexo}}
        <h1 class="display-4">Bienvenida Doctora {{user.Nombre}}!</h1>
        {{else}}
        <h1 class="display-4">Bienvenido Doctor {{user.Nombre}}!</h1>
        {{/if}}
      <p class="lead">Ahora ya puede dar de alta a sus pacientes y consultar su estado clinico</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/Doctor/Pacientes" role="button">Consultar Pacientes</a>
      <a class="btn btn-success btn-lg" href="/Doctor/Pacientes/NuevoP">Dar de Alta Paciente</a>
      <a class="btn btn-warning btn-lg" href="/Doctor/Notas">Notas</a>
      <a class="btn btn-secondary btn-lg" href="/Doctor/Citas">Citas</a>
      <a class="btn btn-info btn-lg" href="/Doctor/MiPerfil/{{user.id}}">Mi Perfil</a>
      <a class="btn btn-danger btn-lg" href="/logout">Cerrar Sesion</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
</body>