<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><strong><h3>Clean Teth</h3></strong></a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/Doctor">Inicio</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pacientes 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/Doctor/Pacientes">Mis Pacientes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Doctor/Pacientes/NuevoP">Nuevo Paciente</a>
            </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/Doctor/Citas">Citas</a>
            </li>
            <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notas 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/Doctor/Notas">Mis Notas</a>
              <a class="dropdown-item" href="/Doctor/NotasPaciente">Notas de Pacientes</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/Doctor/Notas/NuevaN">Nuevo Nota</a>
            </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/Doctor/MiPerfil/{{user.id}}">MiPerfil</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
    </div>   
</nav>