<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Clean Teeth</title>
	<meta name="description" content="">
	<meta name="author" content="">
</head>
	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		{{{ body }}}
		<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/nivo-lightbox.js"></script>
		<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
	</body>
</html>
